* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,9,121,1) 39%, rgba(0,212,255,1) 100%);
}

.flex {
    display: flex;
}


.nav-list li {
    margin: 0 5px;
}

@media screen and (max-width: 767px) {
    .nav-bar {
        flex-direction: column;
    }
}